body{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.login{
height: 100vh;
background: linear-gradient(to right, #812de1, #1d1dc2  )  !important;
}

.login_content{
    width: 575px;
    height: 558px;
border-radius: 50px;
}



